<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNS page</title>
    <link class="swiper-slide w-full" nk rel="stylesheet" href="../public/css/taildwin-out.css" />

</head>

<body class="bg-[#fafafa]">
    <div class="main_content px-[15px] lg:px-[50px] xl:px-[100px] mx-auto bg-white">

        <!--Second breadcrumb-->
        <nav class="w-full rounded-md my-[20px] text-[14px]">
            <ol class="list-reset flex">
                <li>
                    <a href="/"
                        class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">
                        Trang chủ
                    </a>
                </li>
                <li>
                    <span class="mx-2 text-neutral-500 dark:text-neutral-400">/</span>
                </li>
                <li class="text-neutral-500 dark:text-neutral-400"> chuyen muc</li>
                <li>
                    <span class="mx-2 text-neutral-500 dark:text-neutral-400">/</span>
                </li>
                <li class="text-neutral-500 dark:text-neutral-400"> Bai viet</li>

            </ol>
        </nav>

        <div>

            <div class="post_title">
                <h1 class="text-3xl font-semibold text-center">
                    Ô tô bay đầu tiên được chứng nhận hợp pháp: Dưới đất như siêu xe, trên trời như trực thăng
                </h1>
                <img class="mx-auto w-[950px] h-[450px] mt-[20px] block"
                    src="http://206.189.40.102:3000/uploads/2023/7/1688220157198_z4480000466087_dcc4b098ba95e1eac61e48f12f22dd62.jpg">
            </div>

            <div class="post_content mt-[20px] max-w-[1100px] mx-auto bg-[#FAFAFA] p-[20px]">
                <div data-test-id="test-article"
                    class="views-article-body articlePage_body-DS-EntryPoint1-1 articlePage_body_overrides_new-DS-EntryPoint1-1">
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}"><strong>Một chiếc ô tô chạy hoàn toàn bằng điện
                            vừa có thể chạy trên đường bộ vừa có thể lái trong không trung nghe như phim khoa học viễn
                            tưởng. Nhưng Alef Aeronautics đang biến ô tô bay thành hiện thực.</strong></p>
                    <div class="article-image-slot image-slot-placeholder"
                        data-image-href="https://www.msn.com/vi-vn/news/techandscience/%C3%B4-t%C3%B4-bay-%C4%91%E1%BA%A7u-ti%C3%AAn-%C4%91%C6%B0%E1%BB%A3c-ch%E1%BB%A9ng-nh%E1%BA%ADn-h%E1%BB%A3p-ph%C3%A1p-d%C6%B0%E1%BB%9Bi-%C4%91%E1%BA%A5t-nh%C6%B0-si%C3%AAu-xe-tr%C3%AAn-tr%E1%BB%9Di-nh%C6%B0-tr%E1%BB%B1c-th%C4%83ng/ar-AA1dhPFw?ocid=msedgntp&amp;cvid=a68f9f86c69b47e5a3ee7c160bb69000&amp;ei=8&amp;fullscreen=true#image=1"
                        data-doc-id="cms/api/amp/image/AA1dhxXa" data-rendered="true">
                        <msn-article-image></msn-article-image></div>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}">Theo hãng Alef Aeronautics, chiếc “Model A” của họ
                        đã trở thành <a class="VCCTagItemInNews" href="https://tuoitre.vn/o-to-bay.html"
                            title="ô tô bay" target="_blank"
                            data-t="{&quot;n&quot;:&quot;destination&quot;,&quot;t&quot;:13,&quot;b&quot;:1,&quot;c.t&quot;:7}"
                            tabindex="0" hasenterkeydown="1">ô tô bay</a> đầu tiên được Chính phủ Mỹ phê duyệt để hoạt
                        động hợp pháp tại không gian công cộng.</p>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}">Ý tưởng về ô tô bay đã ra đời năm 2015. Đến năm
                        2016, công ty đã chế tạo ra nguyên mẫu đầu tiên với kích thước nhỏ để phù hợp với nhiều yêu cầu
                        đặt ra: có thể lái đi như ô tô thực, có khả năng cất cánh thẳng đứng, và giá cả tương đối chấp
                        nhận được.</p>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}">Phiên bản thu nhỏ và <a class="VCCTagItemInNews"
                            href="https://tuoitre.vn/dong-co-dien.html" title="động cơ điện" target="_blank"
                            data-t="{&quot;n&quot;:&quot;destination&quot;,&quot;t&quot;:13,&quot;b&quot;:1,&quot;c.t&quot;:7}"
                            tabindex="0" hasenterkeydown="1">động cơ điện</a> độc quyền đã được thể hiện trước Tim
                        Draper, nhà đầu tư mạo hiểm nổi tiếng, cũng là một nhà đầu tư sớm của Tesla.</p>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}">Draper Associates Fund V của ông đã đầu tư 3 triệu
                        USD “tiền hạt giống” để khởi động dự án. </p>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}">Tháng 10-2022, Alef đã giới thiệu “Model A” với
                        thế giới cùng mô tả “ô tô bay chạy bằng điện đầu tiên có khả năng lái trên đường phố thực sự và
                        cất/hạ cánh thẳng đứng” (eVTOL). </p>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}">Theo Alef, Model A có phạm vi chạy đường bộ 322km,
                        phạm vi bay 177km. </p>
                    <div class="article-clear-div"></div>
                    <div class="article-image-slot image-slot-placeholder"
                        data-image-href="https://www.msn.com/vi-vn/news/techandscience/%C3%B4-t%C3%B4-bay-%C4%91%E1%BA%A7u-ti%C3%AAn-%C4%91%C6%B0%E1%BB%A3c-ch%E1%BB%A9ng-nh%E1%BA%ADn-h%E1%BB%A3p-ph%C3%A1p-d%C6%B0%E1%BB%9Bi-%C4%91%E1%BA%A5t-nh%C6%B0-si%C3%AAu-xe-tr%C3%AAn-tr%E1%BB%9Di-nh%C6%B0-tr%E1%BB%B1c-th%C4%83ng/ar-AA1dhPFw?ocid=msedgntp&amp;cvid=a68f9f86c69b47e5a3ee7c160bb69000&amp;ei=8&amp;fullscreen=true#image=2"
                        data-doc-id="cms/api/amp/image/AA1dhRvR" data-rendered="true">
                        <msn-article-image></msn-article-image></div>
                    <div class="article-image-slot image-slot-placeholder"
                        data-image-href="https://www.msn.com/vi-vn/news/techandscience/%C3%B4-t%C3%B4-bay-%C4%91%E1%BA%A7u-ti%C3%AAn-%C4%91%C6%B0%E1%BB%A3c-ch%E1%BB%A9ng-nh%E1%BA%ADn-h%E1%BB%A3p-ph%C3%A1p-d%C6%B0%E1%BB%9Bi-%C4%91%E1%BA%A5t-nh%C6%B0-si%C3%AAu-xe-tr%C3%AAn-tr%E1%BB%9Di-nh%C6%B0-tr%E1%BB%B1c-th%C4%83ng/ar-AA1dhPFw?ocid=msedgntp&amp;cvid=a68f9f86c69b47e5a3ee7c160bb69000&amp;ei=8&amp;fullscreen=true#image=3"
                        data-doc-id="cms/api/amp/image/AA1dhMz8" data-rendered="true">
                        <msn-article-image></msn-article-image></div>
                    <div class="article-image-slot image-slot-placeholder"
                        data-image-href="https://www.msn.com/vi-vn/news/techandscience/%C3%B4-t%C3%B4-bay-%C4%91%E1%BA%A7u-ti%C3%AAn-%C4%91%C6%B0%E1%BB%A3c-ch%E1%BB%A9ng-nh%E1%BA%ADn-h%E1%BB%A3p-ph%C3%A1p-d%C6%B0%E1%BB%9Bi-%C4%91%E1%BA%A5t-nh%C6%B0-si%C3%AAu-xe-tr%C3%AAn-tr%E1%BB%9Di-nh%C6%B0-tr%E1%BB%B1c-th%C4%83ng/ar-AA1dhPFw?ocid=msedgntp&amp;cvid=a68f9f86c69b47e5a3ee7c160bb69000&amp;ei=8&amp;fullscreen=true#image=4"
                        data-doc-id="cms/api/amp/image/AA1dhPFk" data-rendered="true">
                        <msn-article-image></msn-article-image></div>
                    <div class="article-image-slot image-slot-placeholder"
                        data-image-href="https://www.msn.com/vi-vn/news/techandscience/%C3%B4-t%C3%B4-bay-%C4%91%E1%BA%A7u-ti%C3%AAn-%C4%91%C6%B0%E1%BB%A3c-ch%E1%BB%A9ng-nh%E1%BA%ADn-h%E1%BB%A3p-ph%C3%A1p-d%C6%B0%E1%BB%9Bi-%C4%91%E1%BA%A5t-nh%C6%B0-si%C3%AAu-xe-tr%C3%AAn-tr%E1%BB%9Di-nh%C6%B0-tr%E1%BB%B1c-th%C4%83ng/ar-AA1dhPFw?ocid=msedgntp&amp;cvid=a68f9f86c69b47e5a3ee7c160bb69000&amp;ei=8&amp;fullscreen=true#image=5"
                        data-doc-id="cms/api/amp/image/AA1dhIqv" data-rendered="true">
                        <msn-article-image></msn-article-image></div>
                    <div class="article-image-slot image-slot-placeholder"
                        data-image-href="https://www.msn.com/vi-vn/news/techandscience/%C3%B4-t%C3%B4-bay-%C4%91%E1%BA%A7u-ti%C3%AAn-%C4%91%C6%B0%E1%BB%A3c-ch%E1%BB%A9ng-nh%E1%BA%ADn-h%E1%BB%A3p-ph%C3%A1p-d%C6%B0%E1%BB%9Bi-%C4%91%E1%BA%A5t-nh%C6%B0-si%C3%AAu-xe-tr%C3%AAn-tr%E1%BB%9Di-nh%C6%B0-tr%E1%BB%B1c-th%C4%83ng/ar-AA1dhPFw?ocid=msedgntp&amp;cvid=a68f9f86c69b47e5a3ee7c160bb69000&amp;ei=8&amp;fullscreen=true#image=6"
                        data-doc-id="cms/api/amp/image/AA1dhRw1" data-rendered="true">
                        <msn-article-image></msn-article-image></div>
                    <div class="article-image-slot image-slot-placeholder"
                        data-image-href="https://www.msn.com/vi-vn/news/techandscience/%C3%B4-t%C3%B4-bay-%C4%91%E1%BA%A7u-ti%C3%AAn-%C4%91%C6%B0%E1%BB%A3c-ch%E1%BB%A9ng-nh%E1%BA%ADn-h%E1%BB%A3p-ph%C3%A1p-d%C6%B0%E1%BB%9Bi-%C4%91%E1%BA%A5t-nh%C6%B0-si%C3%AAu-xe-tr%C3%AAn-tr%E1%BB%9Di-nh%C6%B0-tr%E1%BB%B1c-th%C4%83ng/ar-AA1dhPFw?ocid=msedgntp&amp;cvid=a68f9f86c69b47e5a3ee7c160bb69000&amp;ei=8&amp;fullscreen=true#image=7"
                        data-doc-id="cms/api/amp/image/AA1dhIqC" data-rendered="true">
                        <msn-article-image></msn-article-image></div>
                    <div class="article-image-slot image-slot-placeholder"
                        data-image-href="https://www.msn.com/vi-vn/news/techandscience/%C3%B4-t%C3%B4-bay-%C4%91%E1%BA%A7u-ti%C3%AAn-%C4%91%C6%B0%E1%BB%A3c-ch%E1%BB%A9ng-nh%E1%BA%ADn-h%E1%BB%A3p-ph%C3%A1p-d%C6%B0%E1%BB%9Bi-%C4%91%E1%BA%A5t-nh%C6%B0-si%C3%AAu-xe-tr%C3%AAn-tr%E1%BB%9Di-nh%C6%B0-tr%E1%BB%B1c-th%C4%83ng/ar-AA1dhPFw?ocid=msedgntp&amp;cvid=a68f9f86c69b47e5a3ee7c160bb69000&amp;ei=8&amp;fullscreen=true#image=8"
                        data-doc-id="cms/api/amp/image/AA1dhDpO" data-rendered="true">
                        <msn-article-image></msn-article-image></div>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}">Đồng thời với việc giới thiệu năm 2022, Alef cũng
                        mở bán Model A với giá 300.000 USD, cọc 150 USD hoặc 1.500 USD (được ưu tiên hơn). Công ty cho
                        biết đã nhận được 440 lượt đặt trước tính đến nay.</p>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}" class="continue-read-break">Việc sản xuất sẽ bắt
                        đầu từ quý 4-2025. Giao hàng sẽ bắt đầu ngay sau đó. </p>
                    <div class="article-clear-div"></div>
                    <div class="article-image-slot image-slot-placeholder"
                        data-image-href="https://www.msn.com/vi-vn/news/techandscience/%C3%B4-t%C3%B4-bay-%C4%91%E1%BA%A7u-ti%C3%AAn-%C4%91%C6%B0%E1%BB%A3c-ch%E1%BB%A9ng-nh%E1%BA%ADn-h%E1%BB%A3p-ph%C3%A1p-d%C6%B0%E1%BB%9Bi-%C4%91%E1%BA%A5t-nh%C6%B0-si%C3%AAu-xe-tr%C3%AAn-tr%E1%BB%9Di-nh%C6%B0-tr%E1%BB%B1c-th%C4%83ng/ar-AA1dhPFw?ocid=msedgntp&amp;cvid=a68f9f86c69b47e5a3ee7c160bb69000&amp;ei=8&amp;fullscreen=true#image=9"
                        data-doc-id="cms/api/amp/image/AA1dhxXn" data-rendered="true">
                        <msn-article-image></msn-article-image></div>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}">Ngoài Model A, Alef cũng đang phát triển các mẫu ô
                        tô bay mới. Trong đó, đáng chú ý là một chiếc sedan bay 4 người được gọi là Model Z, dự kiến ra
                        mắt năm 2035, giá khởi điểm 35.000 USD. </p>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}">Công ty tiết lộ thông số dự kiến: phạm vi bay
                        483km và phạm vi hoạt động đường bộ 354km.</p>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}">Một số nhà sản xuất ô tô và start-up khác cũng
                        đang nỗ lực đưa “ô tô bay” hay còn gọi là eVTOL ra thị trường, chẳng hạn như XPeng. </p>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}">Aero HT đã được cấp giấy phép hoạt động ở Trung
                        Quốc vào đầu năm nay. Nhưng nếu Model A thực sự giống một chiếc ô tô đơn thuần bay trên bầu trời
                        thì Aero HT vẫn có cánh quạt hai bên. Do đó, dù có thể thu gọn cánh, có thể nói, Aero HT cồng
                        kềnh hơn.</p>
                    <p data-t="{&quot;n&quot;:&quot;blueLinks&quot;}"><small><i>Đọc bài gốc tại <a
                                    href="https://tuoitre.vn/o-to-bay-dau-tien-duoc-chung-nhan-hop-phap-duoi-dat-nhu-sieu-xe-tren-troi-nhu-truc-thang-20230630144724271.htm"
                                    target="_blank"
                                    data-t="{&quot;n&quot;:&quot;destination&quot;,&quot;t&quot;:13,&quot;b&quot;:1,&quot;c.t&quot;:7}"
                                    tabindex="0" hasenterkeydown="1">đây</a>.</i></small></p>
                    <div class="intra-article-module-bottom-slot"
                        data-t="{&quot;n&quot;:&quot;intraArticle&quot;,&quot;t&quot;:13}"></div>
                </div>

                <ul class="post_tags flex gap-2 mt-[15px]">
                    <li
                        class="bg-[#EEF4FF] rounded-[15px] text-[13px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                        Design
                    </li>

                    <li
                        class="bg-[#EEF4FF] rounded-[15px] text-[13px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                        Design
                    </li>
                </ul>
            </div>


            <section class="my-[50px]">
                <h3 class="text-2xl font-semibold">Tin Lien Quan</h3>

                <div class="flex flex-wrap gap-[20px] mt-4">

                    <div class="w-[100%] sm:w-[30%] lg:w-[18%]">
                        <a href="/fas">
                            <img class="w-full h-[250px] sm:h-[170px] hover:scale-[1.05] duration-200 ease-in-out"
                                src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA1cZWnu.img?w=730&h=487&m=6&x=449&y=343&s=45&d=45"
                                alt="">
                        </a>
    
                        <div class="post_info grid gap-3 mt-3">
                            <div class="post_meta text-[14px] text-[#6941C6]">
                                <span class="post_meta_item">Thời sự</span>
                                -
                                <span class="post_meta_item">2 giờ trước</span>
                            </div>
    
                            <div class="post_content">
                                <a href="/faf/fas"
                                    class="hover:underline flex justify-between items-center duration-200 ease-in-out">
                                    <h2 class="post_title text-[25px] text-[#101828]">
                                        Ux presetion
                                    </h2>
    
                                    <svg width="25" height="25" viewBox="0 0 33 39" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.0508 28.8506L23.3557 15.5456M23.3557 15.5456H10.0508M23.3557 15.5456V28.8506"
                                            stroke="#101828" stroke-width="2.66099" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
    
    
                                </a>
    
                                <a href="/faf/fas" class="hover:underline duration-200 ease-in-out">
    
                                    <p class="post_excerpt text-[16px] text-[#667085]">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quas iure
                                        sed officia voluptatibus aspernatur numquam, adipisci facere dolores distinctio
                                    </p>
                                </a>
    
                            </div>
    
                            <ul class="post_tags flex gap-2">
                                <li
                                    class="bg-[#EEF4FF] rounded-[15px] text-[11px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                                    Design
                                </li>
    
                                <li
                                    class="bg-[#EEF4FF] rounded-[15px] text-[11px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                                    Design
                                </li>
                            </ul>
    
                        </div>
                    </div>

                    <div class="w-[100%] sm:w-[30%] lg:w-[18%]">
                        <a href="/fas">
                            <img class="w-full h-[250px] sm:h-[170px] hover:scale-[1.05] duration-200 ease-in-out"
                                src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA1cZWnu.img?w=730&h=487&m=6&x=449&y=343&s=45&d=45"
                                alt="">
                        </a>
    
                        <div class="post_info grid gap-3 mt-3">
                            <div class="post_meta text-[14px] text-[#6941C6]">
                                <span class="post_meta_item">Thời sự</span>
                                -
                                <span class="post_meta_item">2 giờ trước</span>
                            </div>
    
                            <div class="post_content">
                                <a href="/faf/fas"
                                    class="hover:underline flex justify-between items-center duration-200 ease-in-out">
                                    <h2 class="post_title text-[25px] text-[#101828]">
                                        Ux presetion
                                    </h2>
    
                                    <svg width="25" height="25" viewBox="0 0 33 39" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.0508 28.8506L23.3557 15.5456M23.3557 15.5456H10.0508M23.3557 15.5456V28.8506"
                                            stroke="#101828" stroke-width="2.66099" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
    
    
                                </a>
    
                                <a href="/faf/fas" class="hover:underline duration-200 ease-in-out">
    
                                    <p class="post_excerpt text-[16px] text-[#667085]">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quas iure
                                        sed officia voluptatibus aspernatur numquam, adipisci facere dolores distinctio
                                    </p>
                                </a>
    
                            </div>
    
                            <ul class="post_tags flex gap-2">
                                <li
                                    class="bg-[#EEF4FF] rounded-[15px] text-[11px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                                    Design
                                </li>
    
                                <li
                                    class="bg-[#EEF4FF] rounded-[15px] text-[11px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                                    Design
                                </li>
                            </ul>
    
                        </div>
                    </div>

                    <div class="w-[100%] sm:w-[30%] lg:w-[18%]">
                        <a href="/fas">
                            <img class="w-full h-[250px] sm:h-[170px] hover:scale-[1.05] duration-200 ease-in-out"
                                src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA1cZWnu.img?w=730&h=487&m=6&x=449&y=343&s=45&d=45"
                                alt="">
                        </a>
    
                        <div class="post_info grid gap-3 mt-3">
                            <div class="post_meta text-[14px] text-[#6941C6]">
                                <span class="post_meta_item">Thời sự</span>
                                -
                                <span class="post_meta_item">2 giờ trước</span>
                            </div>
    
                            <div class="post_content">
                                <a href="/faf/fas"
                                    class="hover:underline flex justify-between items-center duration-200 ease-in-out">
                                    <h2 class="post_title text-[25px] text-[#101828]">
                                        Ux presetion
                                    </h2>
    
                                    <svg width="25" height="25" viewBox="0 0 33 39" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.0508 28.8506L23.3557 15.5456M23.3557 15.5456H10.0508M23.3557 15.5456V28.8506"
                                            stroke="#101828" stroke-width="2.66099" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
    
    
                                </a>
    
                                <a href="/faf/fas" class="hover:underline duration-200 ease-in-out">
    
                                    <p class="post_excerpt text-[16px] text-[#667085]">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quas iure
                                        sed officia voluptatibus aspernatur numquam, adipisci facere dolores distinctio
                                    </p>
                                </a>
    
                            </div>
    
                            <ul class="post_tags flex gap-2">
                                <li
                                    class="bg-[#EEF4FF] rounded-[15px] text-[11px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                                    Design
                                </li>
    
                                <li
                                    class="bg-[#EEF4FF] rounded-[15px] text-[11px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                                    Design
                                </li>
                            </ul>
    
                        </div>
                    </div>


                    <div class="w-[100%] sm:w-[30%] lg:w-[18%]">
                        <a href="/fas">
                            <img class="w-full h-[250px] sm:h-[170px] hover:scale-[1.05] duration-200 ease-in-out"
                                src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA1cZWnu.img?w=730&h=487&m=6&x=449&y=343&s=45&d=45"
                                alt="">
                        </a>
    
                        <div class="post_info grid gap-3 mt-3">
                            <div class="post_meta text-[14px] text-[#6941C6]">
                                <span class="post_meta_item">Thời sự</span>
                                -
                                <span class="post_meta_item">2 giờ trước</span>
                            </div>
    
                            <div class="post_content">
                                <a href="/faf/fas"
                                    class="hover:underline flex justify-between items-center duration-200 ease-in-out">
                                    <h2 class="post_title text-[25px] text-[#101828]">
                                        Ux presetion
                                    </h2>
    
                                    <svg width="25" height="25" viewBox="0 0 33 39" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.0508 28.8506L23.3557 15.5456M23.3557 15.5456H10.0508M23.3557 15.5456V28.8506"
                                            stroke="#101828" stroke-width="2.66099" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
    
    
                                </a>
    
                                <a href="/faf/fas" class="hover:underline duration-200 ease-in-out">
    
                                    <p class="post_excerpt text-[16px] text-[#667085]">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quas iure
                                        sed officia voluptatibus aspernatur numquam, adipisci facere dolores distinctio
                                    </p>
                                </a>
    
                            </div>
    
                            <ul class="post_tags flex gap-2">
                                <li
                                    class="bg-[#EEF4FF] rounded-[15px] text-[11px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                                    Design
                                </li>
    
                                <li
                                    class="bg-[#EEF4FF] rounded-[15px] text-[11px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                                    Design
                                </li>
                            </ul>
    
                        </div>
                    </div>

                    

                   
                </div>
            </section>
        </div>
    </div>
</body>

</html>