<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head -->
    {{> head_component}}
    <title>Về chúng tôi - G-EDU</title>
</head>

<body>
    {{> header_component}}


    <div class=" my-[20px] px-[15px] lg:px-[100px]">

        <!--Second breadcrumb-->
        <nav class="w-full rounded-md my-[20px] text-[14px]">
            <ol class="list-reset flex">
                <li>
                    <a href="/"
                        class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">
                        Trang chủ
                    </a>
                </li>
                <li>
                    <span class="mx-2 text-neutral-500 dark:text-neutral-400">/</span>
                </li>
                <li class="text-neutral-500 dark:text-neutral-400"> {{title}}</li>
            </ol>
        </nav>

        <div class="max-w-[1100px] mx-auto">
            {{!-- <img src="https://hklangstudio.com/gallery_gen/5dcea710121b0a6b7de24d9ced815faf.jpg"> --}}
            <section class="mb-10">

                <h3 class="text-2xl font-bold">Mission</h3>
                <p class="mt-4 leading-relaxed">
                    “Hành trang ra biển lớn”<br>
                    “From Well to Sea”<br>
                    Với mục tiêu đặt sứ mệnh giáo dục “thực học” lên hàng đầu, chúng tôi cam kết sẽ là người bạn đồng
                    hành với học sinh trong không chỉ việc học ngoại ngữ mà còn là kiến thức thực tế về đất nước, con
                    người, và văn hóa thuộc về ngôn ngữ đó.<br>
                    Hành trình vạn dặm bắt đầu từ một bước chân.<br>
                    Tại G-EDU, học sinh sẽ khám phá và phát huy được năng lực tiềm ẩn trong chính mình, để tự tin đặt
                    những bước chân đầu tiên trên con đường ra biển lớn. Chúng tôi, cùng với tất cả tâm huyết và chuyên
                    môn của mình, sẽ đồng hành với học sinh đặt những bước chân nền tảng này.
                </p>

                <h3 class="text-2xl font-bold mt-8">Our Values</h3>
                <p class="mt-4 leading-relaxed">
                    Tại G-IN, chúng tôi (đồng hành với các phụ huynh), sẽ giúp học sinh của mình luôn giữ được ngọn lửa
                    nhiệt huyết, biết tại sao mình cần học và học để làm gì. Sự “thực học” tại G-EDU không dừng lại ở
                    kiến thức trên sách vở, mà là kỹ năng sống, cách sống để trang bị cho các em một hành trang vững
                    chãi trên con đường tương lai.
                </p>
            </section>

            <img src="https://hklangstudio.com/gallery_gen/7c24b8af218f445c8eda167920181a9d_1800x766.jpg" />

        </div>

    </div>

    {{> footer_component}}
</body>

</html>