<footer
    class="bg-[#F8FAFE] grid lg:flex justify-center lg:justify-between gap-[50px] xl:gap-[100px] px-[20px] lg:px-[100px] 2xl:px-[200px] py-[70px] border-t">
    <div class="grid lg:block justify-center text-center lg:text-left">
        <h2 class="text-2xl font-semibold">
            Trung tâm tiếng Hàn G-EDU
        </h2>
        <p class="max-w-[300px] mt-[15px] grid gap-[10px]">
            <span>
                Điện thoại: <a href="tel:0584843998" class="hover:text-[#524FD5]">
                    098 123 4567
                </a>
            </span>

            <span>
                Email:
                <a href="mailto:trungtam.gedu@gmail.com" class="hover:text-[#524FD5]">
                    trungtam.gedu@gmail.com
                </a>
            </span>

            <span>
                Địa chỉ: Số 12N7 ngõ 40, đường Xuân La, P. Xuân La, Q.Tây Hồ, Tp. Hà Nội
            </span>
        </p>
    </div>

    <!-- leave your info -->
    <div class="studying_itenerary">
        <h3 class="text-3xl text-center">
            Để lại thông tin liên hệ
        </h3>
        <p class="max-w-[500px] mx-auto mt-[15px] text-center">
            Nếu bạn có thắc mắc hay băn khoăn về chương trình học, hãy để lại thông tin, chúng tôi sẽ liên hệ với
            bạn
            trong thời gian sớm nhất!
        </p>


        <form id="leaveInfoForm" class="px-8 pt-6 pb-8 mb-4">
            <div class="grid md:flex gap-[15px]">
                <div>
                    <input
                        class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="fullName" type="text" required placeholder="Họ và tên">
                    <p class="fullName_error text-red-500 text-[13px] px-[10px] hidden">fasfs</p>
                </div>

                <div>
                    <input
                        class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="phone" type="text" required placeholder="Số điện thoại">
                    <p class="phone_error text-red-500 text-[13px] px-[10px] hidden">fasfs</p>
                </div>
            </div>
            <p class="leave_info_message hidden text-green-500 text-[13px] px-[10px] max-w-[350px] mt-[10px]">Cảm ơn
                bạn đã quan tâm đến chương trình học, chúng tôi liên hệ lại với bạn trong thời gian sớm nhất!</p>

            <div class="flex justify-center">
                <button
                    class="bg-[#524FD5] hover:bg-[#605ecb] mt-[15px] text-white font-bold py-2 px-5 rounded duration-200 ease-in-out"
                    type="button">
                    Gửi
                </button>
            </div>
        </form>
    </div>
    <!-- end leave your info -->

    <!-- social media link -->
    <div>
        <ul class="flex gap-[20px] justify-center">
            <li>
                <a href="https://facebook.com"
                    class="flex items-center justify-center gap-[10px] border hover:border-gray-400 rounded-full p-[15px] w-[40px] h-[40px] hover:scale-[1.1] duration-200 ease-in-out">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>

            <li>
                <a href="https://facebook.com"
                    class="flex items-center justify-center gap-[10px] border hover:border-gray-400 rounded-full p-[15px] w-[40px] h-[40px] hover:scale-[1.1] duration-200 ease-in-out">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>

            <li>
                <a href="https://facebook.com"
                    class="flex items-center justify-center gap-[10px] border hover:border-gray-400 rounded-full p-[15px] w-[40px] h-[40px] hover:scale-[1.1] duration-200 ease-in-out">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>

            <li>
                <a href="https://facebook.com"
                    class="flex items-center justify-center gap-[10px] border hover:border-gray-400 rounded-full p-[15px] w-[40px] h-[40px] hover:scale-[1.1] duration-200 ease-in-out">
                    <i class="fab fa-tiktok"></i>
                </a>
            </li>
        </ul>
    </div>

</footer>

<!-- Begin Back to top button -->
<style>
    #btn-back-to-top {
        position: fixed;
        display: none;
    }
</style>
<button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light"
style="right: 26px;"
    class="inline-block p-3 bg-[#524FD5] text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out bottom-5"
    id="btn-back-to-top">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-4 h-4" role="img"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor"
            d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z">
        </path>
    </svg>
</button>
<!-- End Back to top button -->


{{!-- facebook messenger plugin --}}
<!-- begin Messenger Chat plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "110400655313407");
    chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<style>
    .fb_dialog_content iframe{
            bottom: 70px !important;
    }
</style>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v17.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{{!-- end facebook messenger plugin --}}