<header class=" pt-[20px] pb-[10px] md:pt-[30px] px-[15px] lg:px-[100px]" style="border-bottom: 1px solid #d3d3d3;">

    <div class="flex justify-between">
        <div class="site_logo w-[70px] lg:w-[101px]">
            <a href="/">
                <img class="w-[200px] h-[50px]" src="/images/site_logo.png" >
            </a>
        </div>

        <div id="header_menu_background" class="fixed hidden md:hidden top-0 left-0 w-full h-full bg-[#b0b0c021]">

        </div>
        <div
            class="header_menu hidden md:block bg-white w-[80%] 2sm:w-[50%] md:w-[90%] lg:w-[70%] h-full lg:h-fit border md:border-[0] z-[999] absolute top-0 right-0 md:relative md:block">
            <button id="close_header_menu"
                class="hover:text-violet-500 duration-150 ease-in-out text-xl absolute top-[10px] left-[30px] md:hidden">
                <i class="fas fa-chevron-right"></i>
            </button>
            <!-- begin header menu -->
            <ul
                class="grid md:flex gap-[10px] lg:gap-[20px] font-[700] px-[30px] py-[50px] md:p-0 md:justify-center items-center text-[#666680]">
                <li class="menu_item relative cursor-pointer">
                    <a class="flex space-x-1 items-center hover:text-[#130D4B]">
                        <span>Về G-EDU</span>
                        <span class="pt-1">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </a>

                    <ul
                        class="sub_menu hidden relative shadow md:absolute top-[10px] mb-[15px] md:mb-0 md:top-[40px] left-0 border border-[#f1e9ff] px-[10px] pt-[15px] pb-[25px] bg-white min-w-[200px] rounded divide-y grid gap-[5px]">
                        <li class="sub_menu_item"><a href="/ve-chung-toi"
                                class=" hover:text-[#130D4B] block mt-[5px]">Giới thiệu</a></li>
                        <li class="sub_menu_item"><a HREF="/mang-xa-hoi"
                                class=" hover:text-[#130D4B] block mt-[5px]">Mạng xã hội</a></li>
                    </ul>

                </li>

                <li><a href="/contact" class=" hover:text-[#130D4B]">Liên hệ</a></li>


                <li class="menu_item relative cursor-pointer">
                    <a class="flex space-x-1 items-center hover:text-[#130D4B]">
                        <span> Học tiếng Hàn</span>
                        <span class="pt-1">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </a>

                    <ul
                        class="sub_menu hidden relative shadow md:absolute top-[10px] mb-[15px] md:mb-0 md:top-[40px] left-0 border border-[#f1e9ff] px-[10px] pt-[15px] pb-[25px] bg-white min-w-[200px] rounded divide-y grid gap-[5px]">
                        <li class="sub_menu_item"><a href="/chuyen-nganh-hoc"
                                class=" hover:text-[#130D4B] block mt-[5px]">Chuyên ngành học</a></li>

                        <li class="sub_menu_item"><a href="/thong-tin-hoc-bong"
                                class=" hover:text-[#130D4B] block mt-[5px]">Thông tin học bổng</a></li>
                    </ul>
                </li>

                <li class="menu_item relative cursor-pointer">
                    <a  class="flex space-x-1 items-center hover:text-[#130D4B]">
                        <span>Sống tại Seoul</span>
                        <span class="pt-1">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </a>

                    <ul
                        class="sub_menu hidden relative shadow md:absolute top-[10px] mb-[15px] md:mb-0 md:top-[40px] left-0 border border-[#f1e9ff] px-[10px] pt-[15px] pb-[25px] bg-white min-w-[200px] rounded divide-y grid gap-[5px]">
                        <li class="sub_menu_item"><a href="/hieu-ve-han-quoc"
                                class=" hover:text-[#130D4B] block mt-[5px]">Hiểu về Hàn Quốc</a></li>

                        <li class="sub_menu_item"><a href="/cong-dong"
                                class=" hover:text-[#130D4B] block mt-[5px]">Cộng đồng</a></li>
                    </ul>
                </li>

                <li class="menu_item relative cursor-pointer">
                    <a class="flex space-x-1 items-center hover:text-[#130D4B]">
                        <span>Khóa học</span>
                        <span class="pt-1">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </a>

                    <ul
                        class="sub_menu hidden relative shadow md:absolute top-[10px] mb-[15px] md:mb-0 md:top-[40px] left-0 border border-[#f1e9ff] px-[10px] pt-[15px] pb-[25px] bg-white min-w-[200px] rounded divide-y grid gap-[5px]">
                        <li class="sub_menu_item"><a href="/khoa-hoc-tieng"
                                class=" hover:text-[#130D4B] block mt-[5px]">Sơ-Trung-Cao cấp</a></li>

                        <li class="sub_menu_item"><a href="/khoa-hoc-topik"
                                class=" hover:text-[#130D4B] block mt-[5px]">TOPIK</a></li>

                        <li class="sub_menu_item"><a href="/khoa-hoc-opic"
                                class=" hover:text-[#130D4B] block mt-[5px]">OPIC</a></li>
                    </ul>
                </li>

                <li class="menu_item relative cursor-pointer">
                    <a class="flex space-x-1 items-center hover:text-[#130D4B]">
                        <span>Activities</span>
                        <span class="pt-1">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </a>
                    <ul
                        class="sub_menu hidden relative shadow md:absolute top-[10px] mb-[15px] md:mb-0 md:top-[40px] left-0 border border-[#f1e9ff] px-[10px] pt-[15px] pb-[25px] bg-white min-w-[200px] rounded divide-y grid gap-[5px]">
                        <li class="sub_menu_item"><a href="/su-kien"
                                class=" hover:text-[#130D4B] block mt-[5px]">Khách mời - Thuyết giảng</a>
                        </li>

                        <li class="sub_menu_item"><a href="/co-van-hoc-tap"
                                class=" hover:text-[#130D4B] block mt-[5px]">Cố vấn học tập</a></li>

                        <li class="sub_menu_item"><a href="/workshop"
                                class=" hover:text-[#130D4B] block mt-[5px]">Workshop</a></li>
                    </ul>
                </li>
            </ul>

            <style>
                .sub_menu::before {
                    content: "";
                    position: absolute;
                    top: -20px;
                    left: 20%;
                    transform: translateX(-50%);
                    border: 10px solid transparent;
                    border-bottom-color: #f1e9ff;
                }
            </style>

        </div>

        <button id="open_header_menu" class="hover:text-violet-500 duration-150 ease-in-out text-xl md:hidden">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</header>